<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.itbomb.space">
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".permission.PermissionCheckActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name=".permission.PermissionSettingActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>
</manifest>
